@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="row">
    
    <div class="col">
        <div class="card pb-2" style="background-color:lightblue ; text-align:center">
            <div class="card-body">
                <h5 class="card-title">ยินดีต้อนรับเข้าสู่ระบบสวัสดิการเงินกู้</h5>
                <p class="card-text">สำหรับบุคลากรมหาวิทยาลัยสงขลานครินทร์</p>

            </div>
        </div>
    </div>
    
</div>
<div class="row pt-2">
    <div class="col"></div>
    <div class="col-sm-5">
        <div class="card pt-2">
            <div class="card-body">
                <h5  class="card-title">รายละเอียดการกู้</h5>
                <p class="card-text">ข้อมูลรายละเอียดสัญญาการกู้ของทั้ง 12 ประเภท.</p>
                <div class="text-center pt-sm-2" style="text-align:center">
                    <a href="/TypeLoan" class="btn" style="background-color:mediumturquoise">ดูรายละเอียด</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-5">
        <div class="card pt-2">
            <div class="card-body">
                <h5 class="card-title">ทำรายการกู้</h5>
                <p class="card-text">ประเภทที่ 2 เงินกู้ยืมเพื่อการศึกษาของตนเอง.</p>
                <div class="text-center pt-sm-2" style="text-align:center">
                    <a href="/Loan" class="btn" style="background-color:mediumturquoise">ทำรายการกู้</a>
                </div>
            </div>
            </div>
    </div>
    <div class="col"></div>
</div>

